---
import Layout from '../layouts/Layout.astro';
import {
  getLangFromUrl,
  getStaticPathsForPage,
  languages,
  // useTranslations,
} from '../i18n/utils';
import LanguagePicker from '../components/LangSwitch/LangSwitch';
import Form from '../components/Form/Form';
import Fieldset from '../components/Fieldset/Fieldset';
import Radios from '../components/Radios/Radios';

// import { ingredientsData } from '../data/ingredients';
// import {
// filterArrayOfObjects,
// sortArrayOfObjects,
// } from '../data/dataHelper';
// import Badge from '../components/Badge/Badge.astro';

export const getStaticPaths = getStaticPathsForPage;

const currentLang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
// const ingredientsRaw = await ingredientsData();
// const filtered = filterArrayOfObjects(ingredientsRaw, 'category', 'fruits');
// const ingredients = sortArrayOfObjects(filtered, lang);

const langItems = Object.entries(languages)
  .map(([
    link,
    label,
  ]) => ({
    icon: link,
    label,
    link: `/${link}`,
  }))
  .filter((item) => item.icon !== currentLang);

const radios = [
  {
    checked: false,
    id: 'radio-id-1',
    label: 'some label 1',
    name: 'radio-name',
    value: 'radio-value-1',
  },
  {
    checked: false,
    id: 'radio-id-2',
    label: 'some label 2',
    name: 'radio-name',
    value: 'radio-value-2',
  },
  {
    checked: true,
    id: 'radio-id-3',
    label: 'some label 3',
    name: 'radio-name',
    value: 'radio-value-3',
  },
];
---

<Layout title="Cooking class generator">
  <main>
    <!-- <Badge /> -->

    <LanguagePicker
      client:load
      lang={currentLang}
      items={langItems}
    />

    <Form>
      <Fieldset
        legend="Please select your preferred contact method:"
        visible={false}
      >
        <Radios radios={radios} />
      </Fieldset>
    </Form>

    <!--
    <div class="foo">
      {ingredients.map((ingredient) => (
        <p>{ingredient[lang]}</p>
      ))}
    </div>
    -->
    <!-- <p>new localized index {t('nav.foo')}</p> -->
  </main>
</Layout>
